{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
  
    {% set (prev_num, prev_slug, prev_name) = PREV(page) %}
    {% set (next_num, next_slug, next_name) = NEXT(page) %}
    
    <table class="header">
      <tr>
        <td class="hdr_l">
          {% if prev_num != None %}
          <a href="{{ prev_slug }}.html">{{ prev_name }}</a>
          {% endif %}
        </td>
        <td class="hdr_c"><a href="toc.html">Contents</a></td>
        <td class="hdr_r">
          {% if next_num != None %}
          <a href="{{ next_slug }}.html">{{ next_name }}</a>
          {% endif %}
        </td>
      </tr>
    </table>
    
    <hr>
    
    <!-- <h1>{{ page.title }}</h1> -->
    
    {{ page.content }}

    <br>
    
    <div class="endtag">
      Modified: {{ page.locale_modified }},
      <a href="mailto:cearn@coranac.com">J Vijn</a>.
      Get all Tonc files <a href="http://www.coranac.com/projects/#tonc" target="_blank">here</a>
    </div>
    
    <hr>
    
    <table class="footer">
      <tr>
        <td class="hdr_l"><a href="{{ prev_slug }}.html">Prev</a></td>
        <td class="hdr_c"><a href="toc.html">Contents</a></td>
        <td class="hdr_r"><a href="{{ next_slug }}.html">Next</a></td>
      </tr>
      <tr>
        <td class="hdr_l">{{ prev_name }}</td>
        <td class="hdr_c"></td>
        <td class="hdr_r">{{ next_name }}</td>
      </tr>
    </table>
    
{% endblock %}
